.progress-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.step {
    min-width: fit-content;
    padding: 5px 10px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    color: black;
    position: relative;
    z-index: 1;
    text-transform: none;
    flex: 1;
    white-space: nowrap;
}

.step-active {
    background-color: #2196F3;
    color: white;
}

.step-inactive {
    background-color: #ddd;
    color: black;
}

.connector {
    height: 6px;
    flex-grow: 1;
    min-width: 30px;
    z-index: 1;
}

.connector-active {
    background-color: #2196F3;
}

.connector-inactive {
    background-color: #ddd;
}

.expected-marker {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: #28a745;
}

.expected-text {
    position: absolute;
    top: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    white-space: nowrap;
    font-weight: bold;
}