.o_cp_buttons {
  .o_list_buttons {
    column-gap: 5px;
  }
}

.job-description img {
    max-width: 100%;
    height: auto;
}
.job-description p {
    line-height: 1.8;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.o_content .o_form_view .o_horizontal_separator,
.modal-content .o_form_view .o_horizontal_separator {
    font-size: 16px !important;
}

.o_list_view td[name="years_of_experience"], .o_list_view th[data-name="years_of_experience"] {
    text-align: center !important;
}