<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="en_project_level_menu"
                  name="Cấp độ dự án"
                  parent="ngsd_menu.qlda_tl_da_menu"
                  action="en_project_level_act_window"
                  sequence="1410"/>
        <menuitem id="en_project_legal_entity_menu"
                  name="Pháp nhân ký HĐ"
                  parent="ngsd_menu.qlda_tl_da_menu"
                  action="en_project_legal_entity_act_window"
                  sequence="1420"/>
    </data>
</odoo>