.compare-body {


    table {
        table-layout: fixed;
        width: 100%;
        background-color: #fff;
    }

    th:first-child {
        width: 20%;
    }

    th {
        background-color: #71639e;
        color: #fff;
    }

    table, th, td {
      border: 1px solid #e9ecef;
      border-collapse: collapse;
    }

    .table-headline {
        font-weight: 700;
        padding-left: 1rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        font-size: 14px;
        background-color: lighten(#71639e, 20%);
        color: #000000
    }

    .table-headline-2 {
        font-weight: 600;
        padding-left: 1rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
}

.bg-white {
    background-color: #fff !important;
}



