.o_form_view .o_group {
    margin-left: 50px;
    margin-right: 30px;
}

.section-label {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

.o_candidate_search_line th.o_column_sortable[data-name="priority"]{
 width:15% !important;
}

.o_candidate_search_line th.o_column_sortable[data-name="weight"]{
 width:15% !important;
}
