.badge {
  font-size: 12px;
  line-height: 1.1;
}

.custom-badge.o_tag_color_0 {
  background-color: white;
  color: #777777;
  box-shadow: inset 0 0 0 1px;
}

.custom-badge.o_tag_color_0::after {
  background-color: #777777;
}

.custom-badge.o_tag_color_1, .custom-badge.o_tag_color_1::after {
  background-color: #F06050;
  color: #fff !important;
}

.custom-badge.o_tag_color_2, .custom-badge.o_tag_color_2::after {
  background-color: #F4A460;
  color: #212529 !important;
}

.custom-badge.o_tag_color_3, .custom-badge.o_tag_color_3::after {
  background-color: #F7CD1F;
  color: #212529 !important;
}

.custom-badge.o_tag_color_4, .custom-badge.o_tag_color_4::after {
  background-color: #6CC1ED;
  color: #212529 !important;
}

.custom-badge.o_tag_color_5, .custom-badge.o_tag_color_5::after {
  background-color: #814968;
  color: #fff !important;
}

.custom-badge.o_tag_color_6, .custom-badge.o_tag_color_6::after {
  background-color: #EB7E7F;
  color: #212529 !important;
}

.custom-badge.o_tag_color_7, .custom-badge.o_tag_color_7::after {
  background-color: #2C8397;
  color: #fff !important;
}

.custom-badge.o_tag_color_8, .custom-badge.o_tag_color_8::after {
  background-color: #475577;
  color: #fff !important;
}

.custom-badge.o_tag_color_9, .custom-badge.o_tag_color_9::after {
  background-color: #D6145F;
  color: #fff !important;
}

.custom-badge.o_tag_color_10, .custom-badge.o_tag_color_10::after {
  background-color: #30C381;
  color: #fff !important;
}

.custom-badge.o_tag_color_11, .custom-badge.o_tag_color_11::after {
  background-color: #9365B8;
  color: #fff !important;
}