<odoo>
    <data>
        <record id="qlda_report_menu" model="ir.ui.menu">
            <field name="name">Báo cáo</field>
            <field name="parent_id" ref="ngsd_menu.qlda_tl_menu"/>
            <field name="sequence">2500</field>
        </record>

        <record id="norm_config_menu" model="ir.ui.menu">
            <field name="parent_id" ref="qlda_report_menu"/>
            <field name="action" ref="reporting_norm_setting_act"/>
            <field name="name">Cấu hình NORM</field>
        </record>

        <record id="report_weekly_by_project_menu" model="ir.ui.menu">
            <field name="parent_id" ref="ngsd_menu.qlda_report_root_menu"/>
            <field name="name">Báo cáo tuần theo dự án</field>
            <field name="sequence">100</field>
            <field name="groups_id" eval="[
                (4, ref('ngsd_base.group_ngs_board_of_directors')),
                (4, ref('ngsd_base.group_tpvh')),
                (4, ref('ngsd_base.group_new_gdkndu')),
                (4, ref('ngsd_base.group_tptc')),
                (4, ref('ngsd_base.group_pm')),
                (4, ref('ngsd_base.group_vpm')),
                (4, ref('ngsd_base.group_qal')),
                (4, ref('ngsd_base.group_qam')),
                (4, ref('ngsd_base.group_tk')),
                ]"/>
            <field name="action" ref="action_report_weekly_by_project"/>
        </record>

        <!-- Menu cha mới: Báo cáo chất lượng -->
        <record id="menu_quality_report_group" model="ir.ui.menu">
            <field name="name">Báo cáo chất lượng</field>
            <field name="parent_id" ref="ngsd_menu.qlda_report_root_menu"/>
            <field name="groups_id" eval="[
                (4, ref('ngsd_base.group_ngs_board_of_directors')),
                (4, ref('ngsd_base.group_tpvh')),
                (4, ref('ngsd_base.group_new_gdkndu')),
                (4, ref('ngsd_base.group_tptc')),
                (4, ref('ngsd_base.group_pm')),
                (4, ref('ngsd_base.group_vpm')),
                (4, ref('ngsd_base.group_qal')),
                (4, ref('ngsd_base.group_qam')),
                (4, ref('ngsd_base.group_tk')),
                ]"/>
            <field name="sequence">101</field>
        </record>

        <record id="menu_quality_dashboard_root" model="ir.ui.menu">
            <field name="parent_id" ref="menu_quality_report_group"/>
            <field name="name">Báo cáo chỉ tiêu chất lượng dự án hàng tháng</field>
            <field name="sequence">1</field>
            <field name="action" ref="action_project_quality_dashboard_client"/>
        </record>

        <record id="menu_monthly_detailed_quality_report" model="ir.ui.menu">
            <field name="parent_id" ref="menu_quality_report_group"/>
            <field name="name">Báo cáo chi tiết chỉ tiêu chất lượng dự án hàng tháng</field>
            <field name="action" ref="monthly_detailed_quality_report_wizard_act"/>
            <field name="sequence">2</field>
        </record>

        <record id="project_completion_quality_menu" model="ir.ui.menu">
            <field name="parent_id" ref="menu_quality_report_group"/>
            <field name="name">Báo cáo chỉ tiêu chất lượng cuối dự án</field>
            <field name="sequence">3</field>
            <field name="action" ref="action_project_completion_quality_report"/>
        </record>

        <record id="menu_final_project_completion_quality_report" model="ir.ui.menu">
            <field name="parent_id" ref="menu_quality_report_group"/>
            <field name="name">Báo cáo chi tiết chỉ tiêu cuối dự án</field>
            <field name="sequence">4</field>
            <field name="action" ref="final_project_completion_quality_report_wizard_act"/>
        </record>

    </data>
</odoo>