.o_list_view {
  .o_list_table {
    .o_list_record_copy, {
      width: 1px; // to prevent the column to expand
      button {
        padding: 0;
        background: none;
        border-style: none;
        display: table-cell;
        cursor: pointer;
      }
    }
    .o_list_record_copy_header {
            width: 32px;
        }
    .o_data_row.o_selected_row > .o_list_record_copy {
        border-bottom: 1px solid $table-border-color;
    }

  }
}
