.o_custom_ribbon_bottom {
    position: absolute;
    top: 120px;
    right: 0;
    background-color: #27ae60;
    color: white;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    border-top-left-radius: 8px;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.o_list_view_performance_evaluation td[name="attitude_evaluation"]:empty::before {
    content: "Nhấn để đánh giá";
    color: #c9d0d5;
    font-style: italic;
}

.o_list_view_task_evaluation td[name="evaluation"]:empty::before {
    content: "Nhấn để đánh giá";
    color: #c9d0d5;
    font-style: italic;
}
