.custom-field-html {
  border-radius: 3px;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: anywhere;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  overflow: auto;
  background-color: #f9f9f9;
  min-height: 100px;

  .odoo-editor-editable {
    background-color: #f9f9f9;
    min-height: 100px;

    @at-root #{&} {
      border: solid 1px #ccc;
    }
  }

  .o_readonly {
    background-color: #f9f9f9;
  }
}