<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="ngs_e_office_root_menu" name="E-Office" sequence="14" web_icon="ngs_e_office,static/description/icon.png" groups="ngsd_base.group_tvda"/>
        <menuitem id="meeting_room_root_menu" name="Phòng họp" parent="ngs_e_office_root_menu" sequence="10"/>
            <menuitem id="room_booking_menu" name="Đặt phòng họp" parent="meeting_room_root_menu" action="room_booking_action" sequence="10"/>
            <menuitem id="meeting_room_config_menu" name="Cài đặt" parent="meeting_room_root_menu" sequence="20" groups="base.group_user"/>
                <menuitem id="room_room_menu" name="Danh sách phòng họp" parent="meeting_room_config_menu" action="room_room_action" sequence="10"/>
                <menuitem id="room_office_menu" name="Danh sách văn phòng" parent="meeting_room_config_menu" action="room_office_action" sequence="20" groups="approvals.group_approval_manager"/>

        <menuitem id="administrative_service_root" name="Dịch vụ hành chính" parent="ngs_e_office_root_menu" sequence="20"/>
            <menuitem id="ngs_approval_request_root_menu" name="Yêu cầu" parent="administrative_service_root" sequence="10"/>
                <menuitem id="approval_category_new_request_menu" name="Yêu cầu mới" parent="ngs_approval_request_root_menu" action="approvals.approval_category_action_new_request" sequence="10"/>
                <menuitem id="approval_category_my_request_menu" name="Yêu cầu của tôi" parent="ngs_approval_request_root_menu" action="approvals.approval_request_action" sequence="20"/>

            <menuitem id="ngs_approval_request_manager_root_menu" name="Quản lý" parent="administrative_service_root" sequence="20"/>
                <menuitem id="approval_request_to_review_menu" name="Yêu cầu cần phê duyệt" parent="ngs_approval_request_manager_root_menu" action="approvals.approval_request_action_to_review" sequence="10"/>
                <menuitem id="approval_request_all_menu" name="Danh sách yêu cầu" parent="ngs_approval_request_manager_root_menu" action="approvals.approval_request_action_all" sequence="20"/>

            <menuitem id="administrative_service_config" name="Cài đặt" parent="administrative_service_root" sequence="30" groups="approvals.group_approval_manager"/>
                <menuitem id="car_product_template_menu" name="Danh sách xe" parent="administrative_service_config" action="car_product_template_action" sequence="10"/>
                <menuitem id="vpp_product_template_menu" name="Danh sách VPP" parent="administrative_service_config" action="vpp_product_template_action" sequence="20"/>
                <menuitem id="ngs_approval_category_menu" name="Loại yêu cầu" parent="administrative_service_config" action="approvals.approval_category_action" sequence="30"/>
                <menuitem id="office_approve_flow_menu" name="Quy trình Phê duyệt" parent="administrative_service_config" action="office_approve_flow_action" sequence="40"/>

    <menuitem id="menu_account_asset_root" name="TSCĐ/CCDC" parent="ngs_e_office_root_menu" sequence="30"/>
        <menuitem id="menu_account_asset_request_root_menu" name="Yêu cầu" parent="menu_account_asset_root" sequence="10"/>
            <menuitem id="account_asset_new_request_menu" name="Yêu cầu mới" parent="menu_account_asset_request_root_menu" action="account_asset_new_request_action" sequence="10"/>
            <menuitem id="account_asset_my_request_menu" name="Yêu cầu của tôi" parent="menu_account_asset_request_root_menu" action="account_asset_my_request_action" sequence="20"/>

        <menuitem id="menu_account_asset_request_manager_root_menu" name="Quản lý" parent="menu_account_asset_root" sequence="20"/>
            <menuitem id="account_asset_to_review_menu" name="Yêu cầu cần phê duyệt" parent="menu_account_asset_request_manager_root_menu" action="account_asset_request_to_review_action" sequence="10"/>
            <menuitem id="account_asset_all_menu" name="Danh sách yêu cầu" parent="menu_account_asset_request_manager_root_menu" action="account_asset_request_action_all" sequence="20"/>

        <menuitem id="menu_account_asset_config_root_menu" name="Cài đặt" parent="menu_account_asset_root" sequence="20" groups="approvals.group_approval_manager"/>
            <menuitem id="action_res_supplier_menu" name="Danh sách nhà cung cấp" parent="menu_account_asset_config_root_menu" action="ngs_e_office.res_supplier_action" sequence="8"/>
            <menuitem id="action_account_asset_menu" name="Danh mục tài sản" parent="menu_account_asset_config_root_menu" action="account_asset.action_account_asset_form" sequence="10"/>

</odoo>
