.o_form_group_checkout_warning{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.o_form_group_checkout_display_none{
    display: none !important;}
.o_form_group_checkout_style{
    padding: 10px 10px 10px 10px !important;
}

