.o_navbar_apps_menu .dropdown-menu {
    background-image: url('/ngsc_backend_theme/static/src/image/background.jpg') !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}