.sticky-task-form .o_field_one2many .o_list_view .table-responsive {
    max-height: 700px;
    overflow-y: auto;
    position: relative;
}

.sticky-task-form .o_field_one2many .o_list_table thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.o_list_view th[data-name="action_add_subtask"],
.o_list_view td.o_list_button {
    width: 5px;
    text-align: center;
}

